<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="description" content="Make feature requests and upvote the ones you want done first!">
        <meta name="keywords" content="tasks,upvote,management">
        <meta name="author" content="someone">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Task Manager</title>
	</head>
    <body>
        <h1 class="font-bold text-2xl my-16">Hello, World!</h1>
    </body>
</html>
