<!DOCTYPE html>
<html lang="en">
    {{ template "meta" .}}
    <body class="bg-slate-100">
        {{ template "header" }}
        <div id="filters" class="grid grid-cols-12">
            <input
                type="search"
                placeholder="Search"
                maxlength="64"
                name="title"
                class="col-start-11 rounded-2 border border-solid border-neutral-300 w-20 h-8 focus:w-48 focus:h-12 focus:mr-4 hover:transition-all focus:border-sky-700"
                hx-get="/tasks"
                hx-params="*"
                hx-indicator="#spinner"
                hx-target="#task-list"
                hx-trigger="keyup delay:100ms"
                ></input>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {{ template "createForm" .}}
            <main id="task-constainer" class="col-span-2">
                <h1 class="text-3xl mb-5">Feedback Requests</h1>
                <div id="task-list">
                    {{ range . }}
                    {{ template "task" . }}
                    {{ end }}
                </div>
                <button
                    hx-get="/tasks?page=2"
                    hx-params="*"
                    hx-indicator="#spinner"
                    hx-target="#task-list"
                    hx-swap="beforeend"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
                    >
                  <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                  <span>Load More</span>
                </button>
                <div
                    id="spinner"
                    class="htmx-indicator h-48 w-48 animate-spin border-white border-t-sky-500 border-[16px] rounded-[50%]"
                ></div>
            </main>
        </div>
        {{ template "footer" .}}
        <script src="/static/cookies.js"></script>
    </body>
</html>
