{{ define "task" }}
<div id="{{ .ID }}" class="w-full grid grid-cols-11 gap-2">
    <div class="text-lg task-score">
        <input hx-post="/tasks/{{ .ID }}/score" hx-swap="innerhtml" hx-target="#score{{ .ID }}" id="{{ .ID }}-up" name="scorekeeper{{ .ID }}" type=radio value="inc" class="hidden">
        <label for="{{ .ID }}-up" class="h-8 w-8 rounded-full flex items-center justify-center border-1 border-stone-600 bg-stone-200">
            <svg class="h-4" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 4000 4000" viewBox="0 0 4000 4000"><path d="M2000 0 0 4000h4000z" style="stroke:#000;stroke-miterlimit:10"/></svg>
        </label>
        <p id="score{{ .ID }}" class="h-8 w-8 text-center">{{ .Score }}</p>
        <input hx-post="/tasks/{{ .ID }}/score" hx-swap="innerhtml" hx-target="#score{{ .ID }}" id="{{ .ID }}-down" name="scorekeeper{{ .ID }}" type=radio value="dec" class="hidden">
        <label for="{{ .ID }}-down" class="h-8 w-8 rounded-full flex items-center justify-center border-1 border-stone-600 bg-stone-200">
            <svg class="h-4 rotate-180" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 4000 4000" viewBox="0 0 4000 4000"><path d="M2000 0 0 4000h4000z" style="stroke:#000;stroke-miterlimit:10"/></svg>
        </label>
    </div>
    <div class="pr-10 col-span-10">
        <a href="/tasks/{{ .ID }}"><h2 class="text-xl">{{ .Title }}</h2></a>
        <p class="text-base">{{ .Body }}</p>
    </div>
</div>
<hr>
{{- end -}}
